.footer{
    position: absolute;
    top: 7350px;
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;    
    padding: 20px 8vw;
    padding-top: 80px;
}
.footer-content{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    width: 100%;
}

.left,.middle,.right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.str{
    display: flex;
    flex-direction: column;
}