.list{
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.title{
    display: flex;
    flex-direction: row;
    gap: 47px;
}

.title>div{
    align-items: center;
    width: 100px;
}

.products{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.product>div{
    align-items: center;
    width: 100px;
}